#atributos {
    margin-top: 0.5rem;
}

#pv {
    margin-top: 0.5rem;
}

#mana .mana {
    margin-top: 0.5rem;
    width: 15rem;
    height: 10rem;
}

#anotações {
    margin-left: -1rem;
    margin-top: 1rem;
}

#pericias {
    margin-left: -1rem;
    margin-top: 1rem;
}

.BMArmas {
    display: inline;
}

#arma {
    display: inline;
}

#benimali {
    display: inline;
}

.armas {
    margin-left: 0.0rem;
    margin-top: 0rem;
}

.armaduras {
    margin-top: 1rem;
    margin-left: -1rem;
}

.magcamfor {
    margin-top: 0rem;
}

.form-control-pv {
    width: 1px;
    height: 3rem;
    text-align: center;
}

.form-control-centralizado {
    text-align: center;
}

.textoanotações {
    width: 30rem;
    height: 30rem;
}

.top {
    padding-top: 0rem;
}

.topmagias {
    margin-top: -2rem;
}

.bg-black {
    background-color: black;
}

.input-group-text {
    text-align: center;
}

.button-ficha {
    margin-left: 50rem;
}